@media screen and (min-width: 1280px) {
    .invisible {
        display: none !important;
    }
}

.chat {
    display: flex;
    user-select: none;
}

.leftpart {
    min-width: 22vw;
    height: 100vw;
    display: flex;
    flex-flow: column;
    background: var(--background);
}

.chats {
    overflow-y: scroll;
    height: 94vh;
}

.searchblock {
    position: sticky;
    display: flex;
    justify-content: space-evenly;
    padding: 10px 20px 10px 5px;
    background-color: var(--background);
}

.btn_block, .loop_container {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s ease;
}

.options {
    background-image: url('../../assets/images/options.svg');
    width: 25px;
    height: 25px;
}

.btn_block:hover {
    background-color: var(--manage-item);
}

.btn_block:active {
    background-color: var(--active-item);
}

.string {
    width: 17vw;
    height: 40px;
    border-radius: 15px;
    background-color: var(--search-input);
    display: flex;
    align-items: center;
}

.loop {
    background-image: url('../../assets/images/search.svg');
}

.back {
    background-image: url('../../assets/images/back.svg');
}

.back, .loop, .settings {
    background-repeat: no-repeat;
    width: 22px;
    height: 22px;
    background-size: 100%;
}

.background {
    background-color: var(--background) !important;
    padding: 0 15px;
}

.rightpart {
    background-color: var(--background-chat);
    width: 100%;
    display: flex;
    flex-flow: column;
}

.infobar {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.leftside {
    display: flex;
    align-items: center;
}

.rightside {
    display: flex;
}

.settings {
    background-image: url('../../assets/images/dots.svg');
}

.avatar {
    background-color: var(--manage-item);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0 20px 0 10px;
}

.nameblock {
    height: 40px;
    display: flex;
    justify-content: space-around;
    flex-flow: column;
    cursor: pointer;
}

.last {
    color: var(--invisible-item);
}

.background {
    background-color: var(--background-chat);
}

.chatblock {
    height: 86vh;
}

.message_block {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overflow_y {
    overflow-y: scroll;
    padding: 0 5vw;
    height: 100%;
    display: flex;
    flex-flow: column-reverse;
}

.messagebar {
    height: 45px;
    border-radius: 10px;
    background-color: var(--background);
    width: 100%;
    margin: 0 5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.message {
    height: 25px;
    width: 100%;
    padding: 0 10px;
}

.block {
    width: 100%;
    padding: 0;
    display: flex;
}